@charset "UTF-8";
/* Language settings */
/* Grid settings */
/* Responsive widts */
/* Button styles */
/*
   Navigation
\*------------------------------------*/
/*
   Slider options
\*------------------------------------*/
/* Input heigts */
/* Base Colors */
/* Button Colors */
/* Main Colors */
/* Navigation colors */
/* Shadows */
/* Border colors */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: none; }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
  display: inline-block; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Change font properties to `inherit` in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  font: inherit; }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */
button,
input,
select {
  /* 2 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Change the cursor in all browsers (opinionated).
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer; }

/**
 * Restore the default cursor to disabled elements unset by the previous rule.
 */
[disabled] {
  cursor: default; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the odd appearance of search inputs in Chrome and Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; }

/**
 * Remove the inner padding and cancel buttons in Chrome on OS X and
 * Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
*, *:before, *:after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  background-attachment: fixed; }

body {
  color: #777;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Development
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.xdebug-var-dump {
  position: relative;
  z-index: 1000; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin: 15px 0;
  border-width: 0;
  border-top: 1px solid currentColor;
  opacity: 0.1; }

/* Media
–––––––––––––––––––––––––––––––––––––––––––––––––– */
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle; }

figure {
  margin: 0; }

/* Media
–––––––––––––––––––––––––––––––––––––––––––––––––– */
pre {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  padding: 20px;
  width: 100%;
  overflow-x: auto; }

/* Hide empty paragraphs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
p:empty {
  display: none; }

/* Touch Actions
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a, button, input {
  -ms-touch-action: manipulation;
  /* IE10  */
  touch-action: manipulation;
  /* IE11+ */ }

/* Ins / Del
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ins {
  text-decoration: none; }

/* Iframe
–––––––––––––––––––––––––––––––––––––––––––––––––– */
embed, iframe, object {
  max-width: 100%; }

/* Columns
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Columns */
.col,
.gallery-item,
.columns {
  position: relative;
  margin: 0;
  padding: 0 15px 30px;
  width: 100%; }

.col-fit {
  -ms-flex: 1;
      flex: 1; }

.col-first {
  -ms-flex-order: -1;
      order: -1; }

.col-last {
  -ms-flex-order: 1;
      order: 1; }

.col-inner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto; }

.col-has-radius {
  overflow: hidden; }

@media screen and (min-width: 850px) {
  .col:first-child .col-inner {
    margin-left: auto;
    margin-right: 0; }
  .col + .col .col-inner {
    margin-right: auto;
    margin-left: 0; } }

@media screen and (max-width: 549px) {
  .small-col-first {
    -ms-flex-order: -1;
        order: -1; } }

@media screen and (min-width: 850px) {
  .large-col-first {
    -ms-flex-order: -1;
        order: -1; } }

@media screen and (max-width: 849px) {
  .medium-col-first {
    -ms-flex-order: -1;
        order: -1; }
  .col {
    padding-bottom: 30px; } }

@media screen and (min-width: 850px) {
  .row-divided > .col + .col:not(.large-12) {
    border-left: 1px solid #ececec; }
  .row-divided.row-reverse > .col + .col:not(.large-12) {
    border-left: 0;
    border-right: 1px solid #ececec; }
  .col-divided {
    padding-right: 30px;
    border-right: 1px solid #ececec; }
  .col.col-divided:not(.col-first):last-child {
    border-right: 0;
    padding-right: 0;
    padding-left: 30px;
    border-left: 1px solid #ececec; }
  .col-border {
    padding-right: 0;
    border-right: 1px solid #ececec; }
  .col-border + .col,
  .col-divided + .col {
    padding-left: 30px; } }

.dark .col-divided {
  border-color: rgba(255, 255, 255, 0.2); }

.align-equal > .col {
  display: -ms-flexbox;
  display: flex; }

.align-middle {
  -ms-flex-align: center !important;
      align-items: center !important;
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
  vertical-align: middle !important; }

.align-bottom {
  -ms-flex-pack: end !important;
      justify-content: flex-end !important;
  -ms-flex-align: end !important;
      align-items: flex-end !important;
  -ms-flex-item-align: end !important;
      align-self: flex-end !important;
  vertical-align: bottom !important; }

.align-top {
  -ms-flex-pack: start !important;
      justify-content: flex-start !important;
  -ms-flex-align: start !important;
      align-items: flex-start !important;
  -ms-flex-item-align: start !important;
      align-self: flex-start !important;
  vertical-align: top !important; }

.align-center {
  -ms-flex-pack: center !important;
      justify-content: center !important; }

.align-right {
  -ms-flex-pack: end !important;
      justify-content: flex-end !important; }

/* Column Grids
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.small-1 {
  max-width: 8.33333%;
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%; }

.small-2 {
  max-width: 16.66667%;
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%; }

.small-3 {
  max-width: 25%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }

.small-4 {
  max-width: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%; }

.small-5 {
  max-width: 41.66667%;
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%; }

.small-6 {
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }

.small-7 {
  max-width: 58.33333%;
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%; }

.small-8 {
  max-width: 66.66667%;
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%; }

.small-9 {
  max-width: 75%;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%; }

.small-10 {
  max-width: 83.33333%;
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%; }

.small-11 {
  max-width: 91.66667%;
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%; }

.small-12 {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

.small-columns-1 > .col,
.small-columns-1 .flickity-slider > .col {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

.small-columns-2 > .col,
.small-columns-2 .flickity-slider > .col {
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }

.small-columns-3 > .col,
.small-columns-3 .flickity-slider > .col {
  max-width: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%; }

.small-columns-4 > .col,
.small-columns-4 .flickity-slider > .col {
  max-width: 25%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }

.small-columns-5 > .col,
.small-columns-5 .flickity-slider > .col {
  max-width: 20%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%; }

.small-columns-6 > .col,
.small-columns-6 .flickity-slider > .col {
  max-width: 16.66667%;
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%; }

.small-columns-7 > .col,
.small-columns-7 .flickity-slider > .col {
  max-width: 14.28571%;
  -ms-flex-preferred-size: 14.28571%;
      flex-basis: 14.28571%; }

.small-columns-8 > .col,
.small-columns-8 .flickity-slider > .col {
  max-width: 12.5%;
  -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%; }

/* Tablets */
@media screen and (min-width: 550px) {
  .medium-1 {
    max-width: 8.33333%;
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%; }
  .medium-2 {
    max-width: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%; }
  .medium-3 {
    max-width: 25%;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%; }
  .medium-4 {
    max-width: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%; }
  .medium-5 {
    max-width: 41.66667%;
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%; }
  .medium-6 {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  .medium-7 {
    max-width: 58.33333%;
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%; }
  .medium-8 {
    max-width: 66.66667%;
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%; }
  .medium-9 {
    max-width: 75%;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%; }
  .medium-10 {
    max-width: 83.33333%;
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%; }
  .medium-11 {
    max-width: 91.66667%;
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%; }
  .medium-12 {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .medium-columns-1 > .col,
  .medium-columns-1 .flickity-slider > .col {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .medium-columns-2 > .col,
  .medium-columns-2 .flickity-slider > .col {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  .medium-columns-3 > .col,
  .medium-columns-3 .flickity-slider > .col {
    max-width: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%; }
  .medium-columns-4 > .col,
  .medium-columns-4 .flickity-slider > .col {
    max-width: 25%;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%; }
  .medium-columns-5 > .col,
  .medium-columns-5 .flickity-slider > .col {
    max-width: 20%;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%; }
  .medium-columns-6 > .col,
  .medium-columns-6 .flickity-slider > .col {
    max-width: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%; }
  .medium-columns-7 > .col,
  .medium-columns-7 .flickity-slider > .col {
    max-width: 14.28571%;
    -ms-flex-preferred-size: 14.28571%;
        flex-basis: 14.28571%; }
  .medium-columns-8 > .col,
  .medium-columns-8 .flickity-slider > .col {
    max-width: 12.5%;
    -ms-flex-preferred-size: 12.5%;
        flex-basis: 12.5%; } }

/* Desktop */
@media screen and (min-width: 850px) {
  .large-1 {
    max-width: 8.33333%;
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%; }
  .large-2 {
    max-width: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%; }
  .large-3 {
    max-width: 25%;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%; }
  .large-4 {
    max-width: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%; }
  .large-5 {
    max-width: 41.66667%;
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%; }
  .large-6 {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  .large-7 {
    max-width: 58.33333%;
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%; }
  .large-8 {
    max-width: 66.66667%;
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%; }
  .large-9 {
    max-width: 75%;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%; }
  .large-10 {
    max-width: 83.33333%;
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%; }
  .large-11 {
    max-width: 91.66667%;
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%; }
  .large-12 {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .gallery-columns-1 .gallery-item,
  .large-columns-1 > .col,
  .large-columns-1 .flickity-slider > .col {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .gallery-columns-2 .gallery-item,
  .large-columns-2 > .col,
  .large-columns-2 .flickity-slider > .col {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  .gallery-columns-3 .gallery-item,
  .large-columns-3 > .col,
  .large-columns-3 .flickity-slider > .col {
    max-width: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%; }
  .gallery-columns-4 .gallery-item,
  .large-columns-4 > .col,
  .large-columns-4 .flickity-slider > .col {
    max-width: 25%;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%; }
  .gallery-columns-5 .gallery-item,
  .large-columns-5 > .col,
  .large-columns-5 .flickity-slider > .col {
    max-width: 20%;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%; }
  .gallery-columns-6 .gallery-item,
  .large-columns-6 > .col,
  .large-columns-6 .flickity-slider > .col {
    max-width: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%; }
  .gallery-columns-7 .gallery-item,
  .large-columns-7 > .col,
  .large-columns-7 .flickity-slider > .col {
    max-width: 14.28571%;
    -ms-flex-preferred-size: 14.28571%;
        flex-basis: 14.28571%; }
  .gallery-columns-8 .gallery-item,
  .large-columns-8 > .col,
  .large-columns-8 .flickity-slider > .col {
    max-width: 12.5%;
    -ms-flex-preferred-size: 12.5%;
        flex-basis: 12.5%; } }

.has-shadow > .col > .col-inner {
  background-color: #FFF; }

.col-hover-focus .col-inner,
.col-hover-fade .col-inner,
.col-hover-blur .col-inner {
  transition: all, .2s; }

.col-hover-fade .col-inner {
  opacity: .6; }

.col-hover-fade:hover .col-inner {
  opacity: 1; }

.col-hover-blur .col-inner {
  filter: blur(3px); }

.col-hover-blur:hover .col-inner {
  filter: blur(0px); }

.col-hover-focus:hover .col-inner {
  opacity: 1; }

.row:hover .col-hover-focus .col:not(:hover) {
  opacity: .6; }

/* Conatainers
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body,
.container,
.full-width .ubermenu-nav,
.container-width,
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.container {
  padding-left: 15px;
  padding-right: 15px; }

.container-width,
.full-width .ubermenu-nav,
.container, .row {
  max-width: 1080px; }

.row.row-collapse {
  max-width: 1050px; }

.row.row-small {
  max-width: 1065px; }

.row.row-large {
  max-width: 1110px; }

/* Boxed / Framed Widths */
body.framed,
body.framed header,
body.framed .header-wrapper,
body.boxed,
body.boxed header,
body.boxed .header-wrapper,
body.boxed .is-sticky-section {
  max-width: 1170px; }

@media screen and (min-width: 850px) {
  body.framed {
    margin: 30px auto; } }

/*
    Flex Row
\*------------------------------------*/
.flex-row {
  -js-display: flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%; }

.flex-row-col {
  -js-display: flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start; }

.text-center .flex-row {
  -ms-flex-pack: center;
      justify-content: center; }

.header .flex-row {
  height: 100%; }

.flex-col {
  max-height: 100%; }

.flex-grow {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-negative: 1;
  -ms-flex-preferred-size: auto !important; }

.flex-center {
  margin: 0 auto; }

.flex-left {
  margin-right: auto; }

.flex-right {
  margin-left: auto; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-has-center > .nav-row > .flex-col:not(.flex-center),
.flex-has-center > .flex-row > .flex-col:not(.flex-center),
.flex-has-center > .flex-col:not(.flex-center) {
  -ms-flex: 1;
      flex: 1; }

@media (max-width: 849px) {
  .medium-flex-wrap {
    -ms-flex-flow: column wrap;
        flex-flow: column wrap; }
    .medium-flex-wrap .flex-col {
      padding-top: 5px;
      padding-bottom: 5px;
      -ms-flex-positive: 0;
          flex-grow: 0;
      width: 100%; } }

@media (max-width: 549px) {
  .small-flex-wrap {
    -ms-flex-flow: column wrap;
        flex-flow: column wrap; }
    .small-flex-wrap .flex-col {
      -ms-flex-positive: 0;
          flex-grow: 0;
      width: 100%; } }

/* Utility Columns (WooCommerce) */
@media (min-width: 850px) {
  .col2-set,
  .u-columns {
    -js-display: flex;
    display: -ms-flexbox;
    display: flex; }
    .col2-set > div + div,
    .u-columns > div + div {
      padding-left: 30px; } }

/*------------------------------------*\
   Banner and Posts Grids
\*------------------------------------*/
.row-grid .box .image-cover {
  padding: 0;
  height: 100%; }

.grid-col > .col-inner {
  height: 100%; }

.grid-col .slider:not(.flickity-enabled),
.grid-col > .col-inner > .img,
.grid-col > .col-inner > .img div,
.grid-col > .col-inner > .img .img-inner > img,
.grid-col .slider > .img,
.grid-col .flickity-slider > .img,
.grid-col .col-inner > .img,
.grid-col .slider-wrapper,
.grid-col .slider,
.grid-col .banner,
.grid-col .box,
.grid-col .box-image,
.grid-col .box-image img,
.grid-col .image-cover,
.grid-col .image-cover img {
  object-fit: cover;
  width: 100%;
  position: absolute !important;
  top: 0;
  bottom: 0;
  height: 100%;
  padding: 0 !important; }

.grid-col .box-image img {
  font-family: 'object-fit: cover;'; }

.grid-col .flickity-viewport {
  height: 100% !important; }

/* Boxes */
.grid-col .box:not(.box-shade):not(.box-overlay):not(.box-badge) .box-text {
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  bottom: 0;
  padding-left: 1.5em;
  padding-right: 1.5em; }

@media all and (-ms-high-contrast: none) {
  /* IE payment fix */
  .payment-icon svg {
    max-width: 50px; }
  /* IE slider fix */
  .slider-nav-circle .flickity-prev-next-button svg {
    height: 36px !important; }
  /* IE icon fix */
  .nav > li > a > i {
    top: -1px; } }

/* Rows
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.row,
.gallery {
  width: 100%;
  -js-display: flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

/* Fix inner divs and exclude all "col-" for bootstrap compatibility*/
.row > div:not(.col):not([class^="col-"]) {
  width: 100% !important; }

/* Grid rows */
.row.row-masonry,
.row.row-grid {
  display: block; }
  .row.row-masonry > .col,
  .row.row-grid > .col {
    float: left; }

/* Nested Rows */
.row .gallery,
.row .row:not(.row-collapse),
.container .row:not(.row-collapse),
.lightbox-content .row:not(.row-collapse) {
  padding-left: 0;
  padding-right: 0;
  margin-left: -15px;
  margin-right: -15px;
  width: auto; }

.row .container {
  padding-left: 0;
  padding-right: 0; }

/* Row layout fixes */
.slider-wrapper + .row:not(.row-collapse),
.banner-grid-wrapper + .row:not(.row-collapse),
.banner + .row:not(.row-collapse),
.section + .row:not(.row-collapse) {
  margin-top: 30px; }

/* Full width row */
.row-full-width {
  max-width: 100% !important; }

/* Isotope */
.row-isotope {
  transition: height .3s; }

.row-reverse {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }

@media screen and (max-width: 549px) {
  .small-row-reverse {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; } }

@media screen and (max-width: 849px) {
  .medium-row-reverse {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; } }

.row-collapse {
  padding: 0; }
  .row-collapse > .flickity-viewport > .flickity-slider > .col,
  .row-collapse > .col {
    padding: 0 !important; }
  .row-collapse > .col .container {
    max-width: 100%; }

.row .row-small:not(.row-collapse),
.container .row-small:not(.row-collapse) {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 0; }

.row-small > .flickity-viewport > .flickity-slider > .col,
.row-small > .col {
  padding: 0 9.8px 19.6px;
  margin-bottom: 0; }

.row .row-xsmall:not(.row-collapse),
.container .row-xsmall:not(.row-collapse) {
  margin-left: -2px;
  margin-right: -2px;
  margin-bottom: 0; }

.row-xsmall > .flickity-viewport > .flickity-slider > .col,
.row-xsmall > .col {
  padding: 0 2px 3px;
  margin-bottom: 0; }

@media screen and (min-width: 850px) {
  .row-large {
    padding-left: 0;
    padding-right: 0; }
    .row .row-large:not(.row-collapse),
    .container .row-large:not(.row-collapse) {
      margin-left: -30px;
      margin-right: -30px;
      margin-bottom: 0; }
    .row-large > .flickity-viewport > .flickity-slider > .col,
    .row-large > .col {
      padding: 0 30px 30px;
      margin-bottom: 0; } }

.row-dashed,
.row-solid {
  overflow: hidden; }
  .row-dashed .col,
  .row-solid .col {
    position: relative;
    padding: 0; }
  .row-dashed .col-inner,
  .row-solid .col-inner {
    padding: 15px; }
  .row-dashed .col:before,
  .row-solid .col:before {
    position: absolute;
    content: " ";
    height: 100%;
    top: 0;
    left: -1px;
    border-left: 1px dashed #ddd; }
  .row-dashed .col:after,
  .row-solid .col:after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 0;
    top: auto;
    left: 0;
    bottom: -1px;
    border-bottom: 1px dashed #ddd; }

.row-solid .col:before {
  border-left-style: solid; }

.row-solid .col:after {
  border-bottom-style: solid; }

.dark .row-solid .col:before, .dark .row-solid .col:after, .dark .row-dashed .col:before, .dark .row-dashed .col:after {
  border-color: rgba(255, 255, 255, 0.2); }

/* Row Layout fixes */
.block-html-after-header .row .col {
  padding-bottom: 0; }

/* Visual Composer fix */
.wpb-js-composer .row:before {
  display: block !important; }

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 30px 0;
  position: relative;
  min-height: auto;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  -ms-flex-align: center;
      align-items: center; }

.section.dark {
  background-color: #666; }

.section-bg {
  overflow: hidden; }

.section-bg,
.section-content {
  width: 100%; }

.section-content {
  z-index: 1; }

.has-parallax {
  overflow: hidden; }

.container .section,
.row .section {
  padding-left: 30px;
  padding-right: 30px; }

.is-sticky-section + .sticky-section-helper {
  min-height: 100vh !important;
  background-color: #000; }

.sticky-section-helper + div {
  position: relative;
  background-color: #FFF;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.1); }

.sticky-section {
  padding: 0 !important;
  height: 100% !important;
  height: 100vh !important;
  width: 100% !important;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  overflow: hidden; }

.is-sticky-section {
  position: fixed !important; }

/* Dark styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.dark,
.dark p,
.dark td {
  color: #f1f1f1; }

/* Colors */
.dark a.lead,
.dark label,
.dark .heading-font,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.hover-dark:hover p,
.hover-dark:hover h1,
.hover-dark:hover h2,
.hover-dark:hover h3,
.hover-dark:hover h4,
.hover-dark:hover h5,
.hover-dark:hover h6,
.hover-dark:hover a {
  color: #fff; }

/* Borders */
.dark .stars a + a,
.dark .product-section,
.dark .product-footer .woocommerce-tabs {
  border-color: rgba(255, 255, 255, 0.2); }

/*
    Dark Nav
\*------------------------------------*/
/* Nav  Dark links */
.nav-dark .is-outline,
.dark .nav > li > a,
.dark .nav > li.html,
.dark .nav-vertical li li.menu-item-has-children > a,
.dark .nav-vertical > li > ul li a,
.nav-dropdown.dark > li > a,
.nav-dropdown.dark .nav-column > li > a,
.nav-dark .nav > li > a,
.nav-dark .nav > li > button {
  color: rgba(255, 255, 255, 0.8); }

/* Nav Dark hover color */
.dark .nav > li > a:hover,
.dark .nav > li.active > a,
.dark .nav > li > a.active
.nav-dark .nav > li.current > a,
.nav-dark .nav > li > a:hover,
.nav-dark .nav > li.active > a,
.nav-dropdown.dark > li > a:hover,
.nav-dropdown.dark .nav-column > li > a:hover,
.nav-dark a.plain:hover,
.nav-dark .nav > li > a.active {
  color: #FFF; }

.dark.nav-dropdown.nav-dropdown-bold > li.nav-dropdown-col,
.dark.nav-dropdown.nav-dropdown-simple > li.nav-dropdown-col,
.nav-dropdown.dark .nav-column > li > a,
.nav-dropdown.dark > li > a,
.nav-dark .nav > li.header-divider,
.nav-dark .header-divider:after,
.nav-dark .nav-divided > li + li > a:after {
  border-color: rgba(255, 255, 255, 0.2); }

.dark .nav-vertical li li.menu-item-has-children > a,
.nav-dark .nav-vertical li li.menu-item-has-children > a,
.nav-dark .nav > li.html,
.nav-dark .header-button {
  color: #fff; }

.nav-box a:hover span.amount,
.nav-dark span.amount {
  color: currentColor; }

.container:after,
.row:after,
.clearfix:after,
.clear:after {
  content: "";
  display: table;
  clear: both; }

@media (max-width: 549px) {
  [data-show="hide-for-small"],
  .hide-for-small {
    display: none !important; } }

/* Larger than mobiles */
@media (min-width: 550px) {
  [data-show="show-for-small"],
  .show-for-small {
    display: none !important; } }

/* Larger than phablets */
@media (min-width: 850px) {
  [data-show="show-for-medium"],
  .show-for-medium {
    display: none !important; } }

/* Smaller than tablets */
@media (max-width: 849px) {
  [data-show="hide-for-medium"],
  .hide-for-medium {
    display: none !important; } }

/* Larger than tablets */
@media (min-width: 850px) {
  [data-show="hide-for-large"],
  .hide-for-large {
    display: none !important; } }

.nav {
  width: 100%;
  position: relative;
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-align: center;
      align-items: center; }

.nav > li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  margin: 0 7px;
  transition: background-color .3s; }

/* Nav Links */
.nav > li > a {
  padding: 10px 0;
  display: inline-block;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center; }

.nav-dropdown {
  display: none; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  line-height: 1.6; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555;
  width: 100%;
  margin-top: 0;
  margin-bottom: .5em;
  text-rendering: optimizeSpeed; }

.h1,
h1 {
  font-size: 1.7em;
  line-height: 1.3; }

.h2,
h2 {
  font-size: 1.6em;
  line-height: 1.3; }

.h3,
h3 {
  font-size: 1.25em; }

.h4,
h4 {
  font-size: 1.125em; }

.h5,
h5 {
  font-size: 1em; }

.h6,
h6 {
  font-size: .85em;
  opacity: .8; }

h1.entry-title.mb {
  margin-bottom: 30px; }

@media (max-width: 549px) {
  h1 {
    font-size: 1.4em; }
  h2 {
    font-size: 1.2em; }
  h3 {
    font-size: 1em; } }

h6 span {
  font-weight: normal;
  font-weight: 500; }

h3 label {
  display: inline-block;
  margin-right: 10px; }

p {
  margin-top: 0; }

h1 > span,
h2 > span,
h3 > span,
h4 > span,
h5 > span,
h6 > span,
p.headline > span {
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone; }

p.lead,
a.lead {
  font-size: 1.3em; }

/* Uppercase */
.uppercase,
h6,
th,
span.widget-title {
  line-height: 1.05;
  letter-spacing: .05em;
  text-transform: uppercase; }

/* Lowercase */
.lowercase {
  text-transform: none !important; }

/* Widgets titles */
span.widget-title {
  font-size: 1em;
  font-weight: 600; }

.is-normal {
  font-weight: normal; }

.is-bold {
  font-weight: bold; }

.thin-font,
.is-thin {
  font-weight: 300 !important; }
  .thin-font strong,
  .is-thin strong {
    font-weight: 700 !important; }

.is-italic {
  font-style: italic !important; }

.is-uppercase,
.uppercase {
  line-height: 1.2;
  text-transform: uppercase; }

.is-alt-font,
.alt-font {
  font-family: Georgia; }

.is-xxxlarge {
  font-size: 2.5em; }

.is-xxlarge {
  font-size: 2em; }

.is-xlarge {
  font-size: 1.5em; }

.is-larger {
  font-size: 1.3em; }

.is-large {
  font-size: 1.15em; }

.is-small, .is-small.button {
  font-size: .8em; }

.is-smaller {
  font-size: .75em; }

.is-xsmall {
  font-size: .7em; }

.is-xxsmall {
  font-size: .6em; }

/* Fix for small screens */
@media (max-width: 549px) {
  .is-xxlarge {
    font-size: 2.5em; }
  .is-xlarge {
    font-size: 1.8em; }
  .is-larger {
    font-size: 1.2em; }
  .is-large {
    font-size: 1em; } }

/*  Header
*------------------------------------*/
.header,
.header-wrapper {
  width: 100%;
  z-index: 30;
  position: relative;
  background-size: cover;
  background-position: 50% 0;
  transition: background-color .3s, opacity .3s; }

.header-bg-color {
  background-color: rgba(255, 255, 255, 0.9); }

.header-top,
.header-bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap; }

.header.show-on-scroll,
.header.has-transparent,
.header.transparent {
  position: absolute; }

.header.show-on-scroll:not(.stuck),
.header.transparent:not(.stuck) {
  left: auto;
  right: auto; }

/*  Header Show on Scroll
*------------------------------------*/
.header.show-on-scroll .header-wrapper {
  transition: opacity .3s;
  visibility: hidden;
  opacity: 0; }

.header.show-on-scroll .header-wrapper.stuck {
  visibility: visible;
  opacity: 1; }

/*  Transparent Header
*------------------------------------*/
.header.transparent .header-wrapper,
.header.transparent .header-bg-image,
.header.transparent .header-bg-color,
.header.transparent .header-bottom {
  box-shadow: none;
  background-color: transparent;
  background-image: none !important; }

.header-bg-image,
.header-bg-color {
  background-position: 50% 0;
  transition: background .4s; }

.header-top {
  background-color: #446084;
  z-index: 11;
  position: relative;
  min-height: 20px; }

.header-main {
  z-index: 10;
  position: relative; }

.header-bottom {
  z-index: 9;
  position: relative;
  min-height: 35px; }

/*  Header Dividers
*------------------------------------*/
.top-divider {
  margin-bottom: -1px;
  border-top: 1px solid currentColor;
  opacity: 0.1; }
  .nav-dark .top-divider {
    display: none; }

/*  Sticky Header
*------------------------------------*/
.stuck {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto; }

.sticky-jump .stuck {
  animation: stuckMoveDown .6s; }

.sticky-fade .stuck {
  animation: stuckFadeIn .6s; }

.sticky-shrink .stuck .header-main {
  transition: height .8s; }

.stuck .header-inner,
.stuck .logo,
.stuck .logo img {
  padding-top: 0;
  margin-top: 0; }

/* Animate sticky logo */
.header-wrapper:not(.stuck) .logo img {
  transition: max-height .5s; }

.header.show-on-scroll .hide-for-sticky,
.stuck .hide-for-sticky {
  display: none; }

/* Header Shadow
*------------------------------------*/
.header-wrapper.stuck,
.header-shadow .header-wrapper,
.layout-shadow #wrapper {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15); }

/* Header Divider
*------------------------------------*/
.nav > li.header-divider {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  vertical-align: middle;
  position: relative;
  margin: 0 7.5px; }
  .nav-dark .nav > li.header-divider {
    border-color: rgba(255, 255, 255, 0.1); }

/* Header block
*------------------------------------*/
.header-block {
  width: 100%;
  min-height: 15px; }

/* Full Width Header
*------------------------------------*/
.header-full-width .container {
  max-width: 100% !important; }

/* Hide Elements
*------------------------------------*/
@media (max-width: 849px) {
  .header-main li.html.custom {
    display: none; } }

/* Logo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.logo {
  line-height: 1;
  margin: 0; }

/* Logo Tagline */
.logo-tagline {
  font-style: italic;
  font-size: .9em;
  line-height: 1;
  margin: .85em 0; }

.logo a {
  text-decoration: none;
  display: block;
  color: #446084;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0; }

.logo img {
  display: block;
  width: auto; }

.header-logo-dark,
.nav-dark .header-logo,
.header-logo-sticky,
.sticky .dark .header-logo-dark,
.sticky .has-sticky-logo .header-logo {
  display: none !important; }

.nav-dark .header-logo-dark,
.stuck .header-logo-sticky {
  display: block !important; }

.stuck .header-logo-sticky + img,
.stuck .header-logo-sticky + img + img {
  display: none !important; }

/* Dark logo */
.nav-dark .logo a {
  color: #fff; }

/* Left Logo */
.logo-left .logo {
  margin-left: 0;
  margin-right: 30px; }

/* Centered Logo */
.logo-center .flex-left {
  -ms-flex-order: 1;
      order: 1;
  -ms-flex: 1 1 0px;
      flex: 1 1 0; }

.logo-center .logo {
  -ms-flex-order: 2;
      order: 2;
  text-align: center;
  margin: 0 30px; }
  .logo-center .logo img {
    margin: 0 auto; }

.logo-center .flex-right {
  -ms-flex-order: 3;
      order: 3;
  -ms-flex: 1 1 0px;
      flex: 1 1 0; }

/* Centered Logo on Small Screens */
@media screen and (max-width: 849px) {
  .header-inner .nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .medium-logo-left .flex-left {
    -ms-flex-order: -1;
        order: -1;
    -ms-flex: 0;
        flex: 0; }
  .medium-logo-left .logo {
    -ms-flex: 1;
        flex: 1; }
  .medium-logo-center .flex-left {
    -ms-flex-order: 1;
        order: 1;
    -ms-flex: 1 1 0px;
        flex: 1 1 0; }
  .medium-logo-center .logo {
    -ms-flex-order: 2;
        order: 2;
    text-align: center;
    margin: 0 15px; }
    .medium-logo-center .logo img {
      margin: 0 auto; }
  .medium-logo-center .flex-right {
    -ms-flex: 1 1 0px;
        flex: 1 1 0;
    -ms-flex-order: 3;
        order: 3; } }

.lightbox-content {
  display: none; }

.slider-wrapper {
  opacity: 0; }

.slider-wrapper:after {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

/*# sourceMappingURL=critical-flatsome.css.map */
